<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use nutritionix</string>
			<key>Key</key>
			<string>shouldUseNutritionix</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Credits</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Fudbar was made for the 2014 Young Rewired State Festival of Code. It features the icons &apos;Barcode&apos; designed by NAS, &apos;Running&apos; designed by Icons8, and &apos;Graph&apos; designed by Ivan Colic from the thenounproject.com</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
